@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="page login-page">
    <div class="login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="info col-lg-7 text-center">
                        <div class="text-center mb-4" style="margin-top: 8%;">
                            <img class="mb-4" src="img/PoderJudicial.png" alt="" width="170" height="170">
                            <h1 class="h3 mb-3 font-weight-normal">SIPOH</h1>
                            <p>Dirección de Modernización y Sistemas</p>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-4 bg-white text-center">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <img class="mb-4 rounded-circle" src="img/user_default.png" alt="" width="72" height="72">
                                <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
                                <label for="inputEmail" class="sr-only">Nombre de Usuario:</label>
                                <input type="text" id="inputEmail" class="form-control mb-3" placeholder="Nombre de Usuario" required="" autofocus="">
                                <div class="input-group mb-3">
                                    <input ID="txtPassword" type="Password" Class="form-control" placeholder="Contraseña" required="" autofocus="">
                                    <div class="input-group-append">
                                        <button id="show_password" class="btn btn-dark" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                    </div>
                                </div>
                                <div class="checkbox mb-2">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Recordar Inicio de sesión
                                    </label>
                                </div>
                                <button class="btn btn-lg btn-success btn-block" type="submit">Iniciar Sesión</button>
                                <p class="mt-4 mb-3 text-muted">© Poder Judicial del Estado de Hidalgo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
      function mostrarPassword() {
          var cambio = document.getElementById("txtPassword");
          if (cambio.type == "password") {
              cambio.type = "text";
              $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
          } else {
              cambio.type = "password";
              $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
          }
      }

      $(document).ready(function () {
          //CheckBox mostrar contraseña
          $('#ShowPassword').click(function () {
              $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
          });
      });
    </script>

</body>
</html>
