<ul class="nav nav-pills flex-column flex-sm-column flex-md-row nav-success" id="pills-tab" role="tablist">
    <li class="nav-sm nav-item">
        <a class="nav-link active" id="juzgadoA-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><i class="icon-office mr-2"></i>Sistema Acusatorio</a>
    </li>
    <li class="nav-sm nav-item">
        <a class="nav-link" id="juzgadoT-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="icon-library mr-2"></i>Sistema Tradicional</a>
    </li>

    @if (ViewBag.EsConsignacionHistorica)
    {
    <li class="nav-sm nav-item">
       <a class="nav-link" id="juzgado-Historico" data-toggle="pill" role="tab" aria-controls="pills-Historico" aria-selected="false"><i class="icon-folder-open mr-2"></i> Consignación Historica Causa</a>
    </li>
    }

</ul>

<div class="tab-content mt-2 mb-3" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <form id="formCausas" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-12 col-lg-6 form-group">

                    <label for="validationCustom04"><strong>Juzgado de Procedencia</strong></label>

                    @Html.DropDownList("SelectJuzgadoAcusatorio", (SelectList)ViewBag.JuzgadosAcusatorios, "SELECCIONAR OPCIÓN", new { @id = "slctJuzgado", @class = "custom-select custom-select-sm", @required = "required" })

                    <div class="invalid-feedback">
                        <i class="icon-notification"></i> Seleccione un Juzgado de Procedencia.
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 form-group">
                    <label for="slcNumero"><strong> Causa | Nuc</strong></label>
                    <select class="custom-select custom-select-sm" id="slctNumero">
                        <option value="1">NUMERO DE CAUSA</option>
                        <option value="2">NUMERO UNICO DE CASO</option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-3 form-group">
                    <label class="" for="inpNumero" id="NumeroLabel"><strong>Número de Causa</strong></label>
                    <div class="input-group">
                        <input type="text" id="Numero" placeholder="0000/0000" name="Numero" class="form-control form-control-sm mr-2" aria-label="Small" aria-describedby="inputGroup-sizing-sm" data-inputmask-clearmaskonlostfocus="true" required>
                        <button class="btn btn-success btn-sm" type="submit" id="btnNUC" data-toggle="tooltip" data-placement="top" title="Consultar Causas"><i class="fa fa-search"></i></button>
                        <div class="invalid-feedback">
                            <i class="icon-notification"></i> Introduzca un Numero de Causa.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <form id="formCausasTradicional" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-3 form-group">
                    <label for="slcNumero"><strong>Distrito de Procedencia</strong></label>

                    @Html.DropDownList("DistritoPorCircuito", (SelectList)ViewBag.DistritosPorCircuito, "SELECCIONAR OPCIÓN", new { @id = "slctDistrito", @class = "custom-select custom-select-sm", @required = "required"})

                    <div class="invalid-feedback">
                        <i class="icon-notification"></i> Seleccione un Distrito de Procedencia.
                    </div>
                </div>

                <div class="col-md-5 form-group">
                    <label for="validationCustom04"><strong>Juzgado de Procedencia</strong></label>
                    <select class="custom-select custom-select-sm" id="slctJuzgadoTradi" required>
                        <option selected value="">SELECCIONAR OPCIÓN</option>
                    </select>
                    <div class="invalid-feedback">
                        <i class="icon-notification"></i> Seleccione un Juzgado de Procedencia.
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="validationCustomUsername"><strong>Número de Causa</strong></label>
                    <div class="input-group" id="divCAU">
                        <input type="text" class="form-control form-control-sm mr-2" id="inpCAUT" aria-describedby="inpCAU" placeholder="0000/0000" required>
                        <button class="btn btn-success btn-sm" type="submit" id="btnCAU" data-toggle="tooltip" data-placement="top" title="Consultar Causas"><i class="fas fa-search"></i></button>
                        <div class="invalid-feedback">
                            <i class="icon-notification"></i> Introduzca Número de Causa.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @if (ViewBag.EsConsignacionHistorica)
    {
    <div class="tab-pane fade" id="pills-Historico" role="tabpanel" aria-labelledby="pills-Historico-tab">
    @Html.Partial("_ParcialHistoricoCausas")
    </div>
    }

</div>

<div id="tablaCausasContenedor" class="tab-content">
   <div class="form-row">
      <div class="col-12">
          <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Causas</h6>
      </div>
   </div>
   <div class="table-responsive">
      <table id="dataTable" class="table table-hover table-bordered" width="100%">
      </table>
   </div>
</div>
