<div class="tab-content">
    <div class="form-row">
        <div class="col-12 col-md-7 form-group">
            <form id="formTocas" class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <label for="validationCustom04"><strong>Salas Disponibles</strong></label>

                        @if (ViewBag.SalasAcusatorioTotal == 1)
                        {
                            @Html.DropDownList("SalasAcusatorio", (SelectList)ViewBag.SalasAcusatorio, new { @id = "slctSalaAcusatorio", @class = "custom-select custom-select-sm", @required = "required" })
                        }
                        else
                        {
                            @Html.DropDownList("SalasAcusatorio", (SelectList)ViewBag.SalasAcusatorio, "SELECCIONAR OPCIÓN", new { @id = "slctSalaAcusatorio", @class = "custom-select custom-select-sm", @required = "required" })
                        }

                        @Html.DropDownList("SalasTradicional", (SelectList)ViewBag.SalasTradicional, "SELECCIONAR OPCIÓN", new { @id = "slctSalaTradicional", @class = "custom-select custom-select-sm", @hidden = "hidden" })

                        <div class="invalid-feedback">
                            <i class="icon-notification"></i> Por favor, selecciona una sala.
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="validationCustom04"><strong>Numero de Toca</strong></label>
                        <div class="input-group " id="divToca">
                            @*<div class="input-group-prepend">
                                    <span class="input-group-text" id="lbToca">Toca</span>
                                </div>*@
                            <input type="text" placeholder="0000/0000" class="form-control form-control-sm mr-2" id="inpToca" aria-describedby="inpToca" data-inputmask-clearmaskonlostfocus="true" required>
                            <button class="btn btn-success btn-sm" type="submit" id="btnToca" data-toggle="tooltip" data-placement="top" title="Agregar Toca"><i class="fas fa-plus-circle"></i></button>
                            <div class="invalid-feedback">
                                <i class="icon-notification"></i> Por favor, introduce un numero de toca.
                            </div>
                            <div class="valid-feedback">
                                <i class="icon-checkmark"></i> Se introdujo numero de toca.
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-row">
                <div class="col-12 mt-3">
                    <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2 mr-1"></i>Tabla de Salas</h6>
                </div>
                <div class="col-12">
                    <div class="table-responsive text-small">
                        <table class="table table-hover table-bordered" id="dataTableTocas" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 form-group">
            <form id="formAmparos" class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col-12 col-md-12">
                        <label for="validationCustom04"><strong>Sentencia de Amparo Vinculada</strong></label>
                        <div class="input-group" id="divAmparo">
                            @*<div class="input-group-prepend">
                                    <span class="input-group-text" id="lbAmparo">Amparo</span>
                                </div>*@
                            <input type="text" class="form-control form-control-sm mr-2" id="ipnAmparo" aria-describedby="inpAmparo" required>
                            <button class="btn btn-success btn-sm" type="submit" id="btnAmparo" data-toggle="tooltip" data-placement="top" title="Agregar Sentencia de Amparo"><i class="fas fa-plus-circle"></i></button>
                            <div class="invalid-feedback">
                                <i class="icon-notification"></i> Por favor, introcude una cantidad.
                            </div>
                            <div class="valid-feedback">
                                <i class="icon-checkmark"></i> Se introdujo cantidad.
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-row">
                <div class="col-12 mt-3">
                    <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2 mr-1"></i>Tabla de Amparos</h6>
                </div>
                <div class="col-12">
                    <div class="table-responsive text-small">
                        <table class="table table-hover table-bordered" id="dataTableAmparos" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
