
@{
    ViewBag.Title = "Error";
}

<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm  col-sm-12">
            <div class="card-body">
                <div class="text-center">
                    <h1>500</h1>
                    <h1>Error interno del servidor</h1>
                    <p>
                    ¡Vaya! Algo salió mal al cargar esta pagina.
                    <br>Intente actualizar nuevamente la página o contacte a soporte.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Lib_JQuery.min")