
@model PoderJudicial.SIPOH.WebApp.Models.EjecucionModelView

@{
    ViewBag.Title = "Detalle de Promoción";
}

    <div class="col-md-12">
        <div class="card card-profile card-secondary">
            <div class="card-header" style="background-image: url('/Content/Master/Img/Background_ProcuradoriaHidalgo.jpg')">
                <div class="profile-picture">
                    <div class="avatar avatar-xl">
                        <img src="~/Content/Master/Img/Background_ProcuradoriaHidalgo.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="user-profile text-center">
                    <div class="name">Hizrian, 19</div>
                    <div class="job">Frontend Developer</div>
                    <div class="desc">A man who hates loneliness</div>
                    <div class="social-media">
                        <a class="btn btn-info btn-twitter btn-sm btn-link" href="#">
                            <span class="btn-label just-icon"><i class="flaticon-twitter"></i> </span>
                        </a>
                        <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#">
                            <span class="btn-label just-icon"><i class="flaticon-google-plus"></i> </span>
                        </a>
                        <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#">
                            <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span>
                        </a>
                        <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#">
                            <span class="btn-label just-icon"><i class="flaticon-dribbble"></i> </span>
                        </a>
                    </div>
                    <div class="view-profile">
                        <a href="#" class="btn btn-secondary btn-block">View Full Profile</a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row user-stats text-center">
                    <div class="col">
                        <div class="number">125</div>
                        <div class="title">Post</div>
                    </div>
                    <div class="col">
                        <div class="number">25K</div>
                        <div class="title">Followers</div>
                    </div>
                    <div class="col">
                        <div class="number">134</div>
                        <div class="title">Following</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm col-sm-12">

            <div class="card-header">

                REGISTRO EXITOSO
                @*@if (Model.NumeroEjecucion != null)
                {
                    <h4 class="card-title">
                        No. Ejecución @Html.DisplayFor(model => model.NumeroEjecucion)
                    </h4>
                }
                else
                {
                    <h4 class="card-title">
                        No. Ejecución - Información no disponible
                    </h4>
                }*@

            </div>

            <div class="card-body">
                <div class="bnt btn-group">
                    <button class="btn btn-dark mr-3">
                    Boton 1
                    </button>

                    <button class="btn btn-dark">
                    Boton 2
                    </button>

                </div>
                
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Master/InptuMask")
@Scripts.Render("~/Scripts/Modules/Ejecucion/Detalle")


