
@model PoderJudicial.SIPOH.WebApp.Models.EjecucionModelView

@{
    ViewBag.Title = "Detalle de Promoción";
}



<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm col-sm-12">

            <div class="card-header">

                @*@if (Model.NumeroEjecucion != null)
                {
                    <h4 class="card-title">
                        No. Ejecución @Html.DisplayFor(model => model.NumeroEjecucion)
                    </h4>
                }
                else
                {
                    <h4 class="card-title">
                        No. Ejecución - Información no disponible
                    </h4>
                }*@

            </div>

            <div class="card-body">
                <div class="bnt btn-group">
                    <button class="btn btn-dark mr-3">
                    Boton 1
                    </button>

                    <button class="btn btn-dark">
                    Boton 2
                    </button>

                </div>
                
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Master/InptuMask")
@Scripts.Render("~/Scripts/Modules/Ejecucion/Detalle")


