
@{
    ViewBag.Title = "Promociones";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="juzgadoT-tab" data-toggle="tab" href="#JuzgadoT" role="tab" aria-controls="JuzgadoT" aria-selected="true">Promociones de Ejecucion</a>
                            </li>
                        </ul>
                        <!-- Todo el contenido aquí -->
                        <div class="form-group row justify-content-center align-items-center mt-3">
                            <div class="col-sm-5">
                                <label class="">Juzgados:</label>
                                <div class="input-group">
                                    <label for="inlineFormCustomSelect" class="sr-only">Camp 1</label>
                                    <select class="custom-select" id="inlineFormCustomSelect">
                                        <option selected>Selecciona Juzgado</option>
                                        <option value="1">Juzgado Penal Acusatorio Pachuca</option>
                                        <option value="2">Juzgado Penal Acusatorio Tizayuca</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label class="invisible">No Ejecucion</label>
                                <div class="input-group-prepend">
                                    <span class="input-group-text">N° Ejecucion</span>
                                    <input type="text" placeholder="0001/2200" class="form-control mr-3 col-sm-4">
                                    <button type="button" class="btn btn-success"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Contenedor -->
                        <div class="form-group" style="margin-top:6%">
                            <!-- #region Juzgados -->
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Numero Ejecucion</span>
                                        </div>
                                        <input type="text" placeholder="1234/2025" disabled class="form-control" style="width:90%">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Juzgado:</span>
                                        </div>
                                        <input type="text" placeholder="PRIMERO PENAL ACUSATORIO" disabled class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Solicitante</span>
                                        </div>
                                        <input type="text" placeholder="OTRO N/A" disabled class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Sentenciado/Beneficiario</span>
                                        </div>
                                        <input type="text" placeholder="BETO ROMERO PARDO" disabled class="form-control">

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Solicitante:</span>
                                        </div>
                                        <input type="text" placeholder="ESTHER VAZQ VAZQ" disabled class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="text-center col-sm-12" style="margin-top:3%">
                                    <button type="button" class="btn btn-success btn-sm"><i>Relacionar Causa</i></button>
                                </div>
                            </div>
                            <!-- #endregion -->
                            <div class="mt-3">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="juzgadoT-tab" data-toggle="tab" href="#JuzgadoT" role="tab" aria-controls="JuzgadoT" aria-selected="true">Juzgado Acusatorio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="juzgadoA-tab" data-toggle="tab" href="#JuzgadoA" role="tab" aria-controls="JuzgadoA" aria-selected="false">Juzgado Tradicional</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="subMenusRc">
                                    <div class="tab-pane fade show active" id="JuzgadoT" role="tabpanel" aria-labelledby="juzgadoT-tab">
                                        <!--submenus al relacionar causa-->
                                        <form class="needs-validation mt-4 ml-2" novalidate>
                                            <div class="form-row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="slctCircuitoAc">Circuito:</label>
                                                    <select class="custom-select" id="slctCircuitoAc" disabled></select>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationCustom04">Juzgado de Procedencia:</label>
                                                    <select class="custom-select" id="slctJuzgado" required>
                                                        <option selected value="">SELECCIONAR OPCIÓN</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Seleccionar Juzgado.
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="validationCustomUsername">Numero</label>
                                                    <div class="input-group" id="divNUC">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="inpNUC">NUC</span>
                                                        </div>
                                                        <input type="text" class="form-control mr-3" id="inpNumero" aria-describedby="inpNUC" placeholder="0000/0000" required>
                                                        <button class="btn btn-success" type="submit" id="btnNUC"><i class="fas fa-save"></i></button>
                                                        <div class="invalid-feedback">
                                                            Introducir N° Unico de Caso.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row justify-content-center">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-sm-12" style="margin-top:3%">
                                    <div class="table-responsive text-center">
                                        <table class="table table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Juzgado</th>
                                                    <th>Causa</th>
                                                    <th>NUC</th>
                                                    <th>Ofendido (s)</th>
                                                    <th>Inculpado (s)</th>
                                                    <th>Delitos (s)</th>
                                                    <th class="text-center">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Segundo Penal Pachuca</th>
                                                    <td>0177/2003</td>
                                                    <td>22-03-1234</td>
                                                    <td>CLARA ISABEL MARTINEZ</td>
                                                    <td>ESTHER VAZQUEZ</td>
                                                    <td>SECUESTRO</td>
                                                    <td class="text-center"><button class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Segundo Penal Pachuca</th>
                                                    <td>0002/1978</td>
                                                    <td>26-01-1995</td>
                                                    <td>CARLOS MOCTEZUMA ALDANA</td>
                                                    <td>ESTHER VAZQUEZ</td>
                                                    <td>SECUESTRO</td>
                                                    <td class="text-center"><button class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--apartado Promovente-->
                            <div style="margin-top:5%" class="row">
                                <div class="line"></div>
                                <div class="col-sm-6 offset-3">
                                    <div style="margin-top:5%" class="row">
                                        <div class="col-sm-4">
                                            <label>Promovente:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div style="margin-top:3%" class="row">
                                        <div class="col-sm-12 text-center">
                                            <label>ANEXOS:</label>
                                        </div>
                                    </div>
                                    <div style="margin-top:3%" class="row">
                                        <div class="col-sm-4">
                                            <label>Descripcion:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <label for="inlineFormCustomSelect" class="sr-only">Camp 1</label>
                                                <select class="custom-select" id="inlineFormCustomSelect">
                                                    <option selected>Selecciona </option>
                                                    <option value="1">Juzgado Penal Acusatorio Pachuca</option>
                                                    <option value="2">Juzgado Penal Acusatorio Tizayuca</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top:3%" class="row">
                                        <div class="col-sm-4">
                                            <label>Cantidad:</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div style="margin-top:3%" class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive text-center">
                                                <table class="table table-hover table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>Descripcion</th>
                                                            <th>Cantidad</th>
                                                            <th class="text-center">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Libertad condicional</th>
                                                            <td>2</td>
                                                            <td class="text-center"><button class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top:3%" class="row text-center">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-success rounded">
                                                <i>Guardar</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

