@model PoderJudicial.SIPOH.WebApp.Models.LogedUserModelView

<h1 class="h4"> @Html.DisplayFor(model => model.Nombre)</h1>
<p> @Html.DisplayFor(model => model.NombreJuzgado)</p>
<p> @Html.DisplayFor(model => model.Cargo)</p>
