
@{
    ViewBag.Title = "Reportes";
}

<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm col-sm-12">
            <div class="card-header">
                <h4 class="card-title"><i class="icon-filter"></i> Filtro</h4>
            </div>
            <div class="card-body">
                <ul class="nav nav-pills nav-success  nav-pills-no-bd nav-pills-icons justify-content-center" id="pills-tab-with-icon" role="tablist">
                    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Generar reporte por día">
                        <a class="nav-link active" id="pills-home-tab-icon" data-toggle="pill" href="#pills-home-icon" role="tab" aria-controls="pills-home-icon" aria-selected="true">
                            <i class="icon-file-text2"></i>
                            REPORTE POR DÍA
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Generar reporte por rango de fechas">
                        <a class="nav-link" id="pills-profile-tab-icon" data-toggle="pill" href="#pills-profile-icon" role="tab" aria-controls="pills-profile-icon" aria-selected="false">
                            <i class="icon-file-text2"></i>
                            REPORTE POR FECHA
                        </a>
                    </li>
                </ul>
                <div class="tab-content mt-2 mb-3" id="pills-with-icon-tabContent">
                    <div class="tab-pane fade show active" id="pills-home-icon" role="tabpanel" aria-labelledby="pills-home-tab-icon">
                       
                    </div>
                    <div class="tab-pane fade" id="pills-profile-icon" role="tabpanel" aria-labelledby="pills-profile-tab-icon">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Fecha Inicial:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-center" id="datetimepicker6" name="datetime" placeholder="dd/mm/aaaa h:mm hh">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="icon-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Fecha Final:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-center" id="datetimepicker7" name="datetime" placeholder="dd/mm/aaaa h:mm hh">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="icon-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="invisible">Generar Reporte:</label>
                                    <div class="input-group">
                                        <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Generar reporte"><i class="icon-binoculars"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="invisible">Generar Reporte:</label>
                                    <div class="input-group">
                                        <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Limpiar campos tipo fecha"><i class="icon-bin2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <!-- Todo el contenido aquí -->
                    <div class="row justify-content-center align-content-center mt-5">
                        <div class="col-sm-4">
                            <label>Reporte por:</label>
                            <div class="input-group mr-2 mb-2">
                                <label for="inlineFormCustomSelect" class="sr-only">Camp 1</label>
                                <select class="custom-select" id="inlineFormCustomSelect">
                                    <option value="0" selected>Selecciona</option>
                                    <option value="1">FECHA</option>
                                    <option value="2">DEL DIA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Select por Fecha-->
                    <div class="row justify-content-center align-content-center mt-5" id="reporFecha">
                        <div class="col-sm-6">
                            <label>Juzgado:</label>
                            <div class="input-group mr-2 mb-2">
                                <label for="inlineFormCustomSelect" class="sr-only">Camp 1</label>
                                <select class="custom-select" id="inlineFormCustomSelect">
                                    <option value="0" selected>Selecciona</option>
                                    <option value="1">JUZGADO PRIMERO DE EJECUCION CTO.PACHUCA</option>
                                    <option value="2">JUZGADO SEGUNDO DE EJECUCION CTO.PACHUCA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Calendarios-->
                    <div class="row" id="calenFecha">
                        <div class="col-sm-6 mb-5">
                            <div class=" container mt-5" style="width:300px">
                                <label>Fecha de Inicial:</label>
                                <input type="date" id="picker" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class=" container mt-5" style="width:300px">
                                <label>Fecha de Final:</label>
                                <input type="date" id="picker" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!--Boton consulta-->
                    <div>
                        <div class="col-sm-12 text-center mt-6 mb-6" id="btnFecha">
                            <button type="button" id="btnFecha" class="btn btn-success rounded"><i></i>Nueva Consulta</button>
                        </div>
                    </div>
                    <!--Reporte por Dia-->
                    <div class="row justify-content-center align-content-center mt-5 mb-7" id="reporDia">
                        <div class="col-sm-6">
                            <label>Juzgado:</label>
                            <div class="input-group mr-2 mb-2">
                                <label for="inlineFormCustomSelect" class="sr-only">Camp 1</label>
                                <select class="custom-select" id="inlineFormCustomSelect">
                                    <option value="0" selected>Selecciona</option>
                                    <option value="1">JUZGADO PRIMERO DE EJECUCION CTO.PACHUCA</option>
                                    <option value="2">JUZGADO SEGUNDO DE EJECUCION CTO.PACHUCA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Modules/Ejecucion/Reportes")

