@{
    ViewBag.Title = "Busquedas de numeros de ejecucion";
}

<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm col-12">
            <div class="card-body">
                <ul class="nav nav-pills  nav-fill nav-success" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-pcausa-tab" data-toggle="pill" href="#pills-pcausa" role="tab" aria-controls="pills-pcausa" aria-selected="true"><i class="icon-users"></i>  Partes causa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-sentebene-tab" data-toggle="pill" href="#pills-sentebene" role="tab" aria-controls="pills-sentebene" aria-selected="false"><i class="icon-user"></i> Sentenciado|Beneficiario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-numcausa-tab" data-toggle="pill" href="#pills-numcausa" role="tab" aria-controls="pills-numcausa" aria-selected="false"><i class="icon-address-book"></i> N° de causa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-NUC-tab" data-toggle="pill" href="#pills-NUC" role="tab" aria-controls="pills-NUC" aria-selected="false"><i class="icon-folder-open"></i> N° de NUC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-solicitante-tab" data-toggle="pill" href="#pills-solicitante" role="tab" aria-controls="pills-solicitante" aria-selected="false"><i class="icon-user-tie"></i> Solicitante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-Dsolicitante-tab" data-toggle="pill" href="#pills-Dsolicitante" role="tab" aria-controls="pills-Dsolicitante" aria-selected="false"><i class="icon-paste"></i> Detalle del solicitante</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-pcausa" role="tabpanel" aria-labelledby="pills-pcausa-tab">
                        <form id="formPartesCausa" class="needs-validation" novalidate>
                            <div class="form-row mt-5 mb-3">
                                <div class="col-md-4 form-group">
                                    <label for="validationCustom02">Nombre: </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputNombreC"><i class=" icon-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control mr-2 clearanexo" id="inpNombreParteC" placeholder="Nombre" required>
                                        <div class="invalid-feedback">
                                            <i class="icon-cancel-circle"></i> Por favor,introduce nombre.
                                        </div>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> Nombre de parte.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="validationCustom02">Apellido Paterno:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputAPaterno"><i class="fa fa-hashtag"></i></span>
                                        </div>
                                        <input type="text" class="form-control mr-2 clearanexo" id="inpAPaternoParC" placeholder="Apellido Paterno" required>
                                        <div class="invalid-feedback">
                                            <i class="icon-cancel-circle"></i> Debes llenar el campo.
                                        </div>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> completo.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="validationCustom02">Apellido Materno:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputAPaternoSenBen"><i class="fa fa-hashtag"></i></span>
                                        </div>
                                        <input type="text" class="form-control mr-2 clearanexo" id="inpAMaternoPC" placeholder="Apellido Materno" required>
                                        <button class="btn btn-success mr-2" type="submit" data-toggle="tooltip" data-placement="top" title="Buscar Parte"><i class="fa fa-search"></i></button>

                                        <div class="invalid-feedback">
                                            <i class="icon-cancel-circle"></i> Debes llenar el campo.
                                        </div>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> completo.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tabla  Detalles -->
                            <div class="tab-content">
                                <div class="form-row">
                                    <div class="col-12">
                                        <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Tabla Partes Causas </h6>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="_DataTablaPartesCausa" class="display table table-hover table-striped table-bordered table-sm nowrap" width="100%">
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-sentebene" role="tabpanel" aria-labelledby="pills-sentebene-tab">
                        <form id="formsentenbene" class="needs-validation" novalidate>
                            <div class="form-row mt-5 mb-3">
                                <div class="col-md-4 form-group">
                                    <label for="validationCustom02">Nombre: </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputNombreSenBen"><i class=" icon-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control mr-2 clearanexo" id="inpNombreSenBen" placeholder="Nombre" required>
                                        <div class="invalid-feedback">
                                            <i class="icon-cancel-circle"></i> Por favor,introduce nombre.
                                        </div>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> Nombre de parte.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="validationCustom02">Apellido Paterno:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputAPaternoPC"><i class="fa fa-hashtag"></i></span>
                                        </div>
                                        <input type="text" class="form-control mr-2 clearanexo" id="inpAPaternoPC" placeholder="Apellido Paterno" required>
                                        <div class="invalid-feedback">
                                            <i class="icon-cancel-circle"></i> Debes llenar el campo.
                                        </div>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> completo.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="validationCustom02">Apellido Materno:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputAPaternoSenBen"><i class="fa fa-hashtag"></i></span>
                                        </div>
                                        <input type="text" class="form-control mr-2 clearanexo" id="inpAMaternoPC" placeholder="Apellido Materno" required>
                                        <button class="btn btn-success mr-2" type="submit" data-toggle="tooltip" data-placement="top" title="Buscar Parte"><i class="fa fa-search"></i></button>

                                        <div class="invalid-feedback">
                                            <i class="icon-cancel-circle"></i> Debes llenar el campo.
                                        </div>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> completo.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tabla  Detalles -->
                            <div class="tab-content">
                                <div class="form-row">
                                    <div class="col-12">
                                        <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Tabla de Causas </h6>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="_DataTableAnexos" class="display table table-hover table-striped table-bordered table-sm nowrap" width="100%">
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-numcausa" role="tabpanel" aria-labelledby="pills-numcausa-tab">
                        <form id="formnumcausa" class="needs-validation" novalidate>
                            <label class="col-3 mt-4">Distrito:</label>
                            <label class="col-3 mt-4">Juzgado:</label>
                            <div class="form-row mt-3 mb-3">
                                <div class="col-sm-3 mb-3">
                                    <div class="input-group">
                                        <label for="slcDistrito" class="sr-only">Campo1</label>
                                        <select class="custom-select" id="slcDistrito">
                                            <option disabled value="0">Selecciona</option>
                                            <option value="1" selected>ACTOPAN</option>
                                            <option value="2">APAN</option>
                                            <option value="3">ATOTONILCO EL GRANDE</option>
                                            <option value="4">HUEJUTLA DE REYES</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-5 mb-3">
                                    <div class="input-group">
                                        <label for="slcJuzagdo" class="sr-only">Campo2</label>
                                        <select class="custom-select" id="slcJuzagdo">
                                            <option disabled value="0">Selecciona</option>
                                            <option value="1" selected>PENAL ACTOPAN</option>
                                            <option value="2">JUZGADO PENAL ACUSATORIO ACTOPAN</option>
                                            <option value="3">PENAL APAN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="inpCantidadAnexos"></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control mr-2 clearanexo" placeholder="0000/0000" id="inpBuscarPCausa" name="quantity" min="0" max="3000" required>
                                        <button class="btn btn-success mr-2" type="submit" data-toggle="tooltip" data-placement="top" title="Buscar Parte"><i class="fa fa-search"></i></button>
                                        <div class="invalid-feedback">
                                            <i class="icon-cancel-circle"></i> Ingresa correctamente la informacion.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Tabla  Detalles -->
                            <div class="tab-content">
                                <div class="form-row">
                                    <div class="col-12">
                                        <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Tabla de Causas </h6>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="_DataTableAnexos" class="display table table-hover table-striped table-bordered table-sm nowrap" width="100%">
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-NUC" role="tabpanel" aria-labelledby="pills-NUC-tab">
                        <form id="formNUC" class="needs-validation" novalidate>
                            <div class="form-row mt-4 mb-3">
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <label class="col-sm-5">Circuito:</label>
                                        <select class="custom-select" id="slcCircuito">
                                            <option disabled value="0">Selecciona</option>
                                            <option value="1" selected>ACTOPAN</option>
                                            <option value="2">HUEJUTLA</option>
                                            <option value="3">IXMIQUILPAN</option>
                                            <option value="4">PACHUCA</option>
                                            <option value="5">TULA</option>
                                            <option value="6">TULANCINGO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6" id="divNucLstJuzg">
                                    <div class="input-group-prepend">
                                        <div class="input-group">
                                            <label class="col-sm-3">Juzgado:</label>
                                            <select class="custom-select" id="slcJuzagdo">
                                                <option disabled value="0">Selecciona</option>
                                                <option value="1" selected>PENAL ACTOPAN</option>
                                                <option value="2">JUZGADO PENAL ACUSATORIO ACTOPAN</option>
                                                <option value="3">PENAL APAN</option>
                                                <option value="4">JUZGADO PENAL ACUSATORIO APAN</option>
                                                <option value="6">JUZGADO PENAL ACUSATORIO ATOTONILCO</option>
                                                <option value="7">PENAL DE JALTOCAN EN HUEJUTLA</option>
                                                <option value="8">JUZGADO PENAL ACUSATORIO HUEJUTLA DE REYES</option>
                                                <option value="9">PENAL DE HUICHAPAN</option>
                                                <option value="10">JUZGADO PENAL ACUSATORIO HUICHAPAN</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class=" row col-12 mt-5 mb-3">
                                    <div class="col-md-4 form-group">
                                        <label for="validationCustom02">Distrito: </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputNombreSenBen"><i class="icon-library"></i></span>
                                            </div>
                                            <input type="text" class="form-control mr-2 clearanexo" id="inpNombreSenBen" placeholder="13" required>
                                            <div class="invalid-feedback">
                                                <i class="icon-cancel-circle"></i> Por favor,introduce nombre.
                                            </div>
                                            <div class="valid-feedback">
                                                <i class="icon-checkmark"></i> Nombre de parte.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="validationCustom02">Año:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputAPaternoSenBen"><i class="fa fa-hashtag"></i></span>
                                            </div>
                                            <input type="text" class="form-control mr-2 clearanexo" id="inpAPaternoSenBen" placeholder="2015" required>
                                            <div class="invalid-feedback">
                                                <i class="icon-cancel-circle"></i> Debes llenar el campo.
                                            </div>
                                            <div class="valid-feedback">
                                                <i class="icon-checkmark"></i> completo.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="validationCustom02">Folio:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputAMaternoSenBen"><i class="fa fa-hashtag"></i></span>
                                            </div>
                                            <input type="text" class="form-control mr-2 clearanexo" id="inpAMaternoSenBen" placeholder="001300" required>
                                            <button class="btn btn-success mr-2" type="submit" data-toggle="tooltip" data-placement="top" title="Buscar Parte"><i class="fa fa-search"></i></button>
                                            <div class="invalid-feedback">
                                                <i class="icon-cancel-circle"></i> Debes llenar el campo.
                                            </div>
                                            <div class="valid-feedback">
                                                <i class="icon-checkmark"></i> completo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-solicitante" role="tabpanel" aria-labelledby="pills-solicitante-tab">
                        <form id="formsolicitante" class="needs-validation" novalidate>
                            <div class="form-row justify-content-center">
                                <div class="col-sm-4 mt-5 mb-3">
                                    <div class="input-group">
                                        <label class="form-control-label mb-2 mr-3">Solicitante:</label>
                                        <select class="custom-select form-control-label" id="slcCircuito">
                                            <option value="0">Selecciona</option>
                                            <option value="1">JUZGADO</option>
                                            <option value="2">CEREZO</option>
                                            <option value="3">SOLICITUD DE SENTENCIADO</option>
                                            <option value="4">VICTIMA</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-4 mb-3">
                                    <div class="table-responsive mr-2">
                                        <table class="table table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th>No.Ejecucion</th>
                                                    <th>Juzgado Ejecucion</th>
                                                    <th>Nombre</th>
                                                    <th>Tipo</th>
                                                    <th>Detalle Solictante</th>
                                                    <th>Fecha</th>
                                                    <th>Solictud</th>
                                                    <th>Beneficiario</th>
                                                    <th>Tipo Expediente</th>
                                                    <th class="text-center">Detalles</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Beto</td>
                                                    <td>Lore</td>
                                                    <td>Esther</td>
                                                    <td>N/A</td>
                                                    <td>25/01/2009</td>
                                                    <td>OTRO</td>
                                                    <td>Esther Maria</td>
                                                    <td>Incidental</td>
                                                    <td class="text-center"><button class="btn btn-success btn-sm"><i class="fa fa-search"></i></button></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Igmar</td>
                                                    <td>Tyno</td>
                                                    <td>Laura</td>
                                                    <td>N/A</td>
                                                    <td>25/01/2009</td>
                                                    <td>OTRO</td>
                                                    <td>Esther Maria</td>
                                                    <td>Incidental</td>
                                                    <td class="text-center"><button class="btn btn-success btn-sm"><i class="fa fa-search"></i></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Tabla  Detalles -->
                            <div class="tab-content">
                                <div class="form-row">
                                    <div class="col-12">
                                        <h6 class="m-0 font-weight-bold text-success"><i class="icon-table2"></i> Tabla de Causas </h6>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="_DataTableAnexos" class="display table table-hover table-striped table-bordered table-sm nowrap" width="100%">
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-Dsolicitante" role="tabpanel" aria-labelledby="pills-Dsolicitante-tab">
                        <form id="formDsolicitante" class="needs-validation" novalidate>
                            <div class="form-row  mt-5 mb-3 justify-content-center">

                                <div class="col-md-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputAMaterno"><i></i>Detalle solicitante:</span>
                                        </div>
                                        <input type="text" class="form-control mr-2 clearanexo" id="inpAMaternoParC" placeholder="" required>
                                        <div class="invalid-feedback">
                                            <i class="icon-cancel-circle"></i> Debes llenar el campo.
                                        </div>
                                        <div class="valid-feedback">
                                            <i class="icon-checkmark"></i> completo.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mt-3 mb-3 text-center">
                                    <div class="table-responsive mr-2">
                                        <table class="table table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th>No.Ejecucion</th>
                                                    <th>Juzgado Ejecucion</th>
                                                    <th>Nombre</th>
                                                    <th>Tipo</th>
                                                    <th>Detalle Solictante</th>
                                                    <th>Fecha</th>
                                                    <th>Solictud</th>
                                                    <th>Beneficiario</th>
                                                    <th>Tipo Expediente</th>
                                                    <th class="text-center">Detalles</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Beto</td>
                                                    <td>Lore</td>
                                                    <td>Esther</td>
                                                    <td>N/A</td>
                                                    <td>25/01/2009</td>
                                                    <td>OTRO</td>
                                                    <td>Esther Maria</td>
                                                    <td>Incidental</td>
                                                    <td class="text-center"><button class="btn btn-success btn-sm"><i class="fa fa-search"></i></button></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Igmar</td>
                                                    <td>Tyno</td>
                                                    <td>Laura</td>
                                                    <td>N/A</td>
                                                    <td>25/01/2009</td>
                                                    <td>OTRO</td>
                                                    <td>Esther Maria</td>
                                                    <td>Incidental</td>
                                                    <td class="text-center"><button class="btn btn-success btn-sm"><i class="fa fa-search"></i></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/Scripts/Master/Jquery")
@Scripts.Render("~/Scripts/Modules/Ejecucion/Busquedas")