<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="connectionName" value="CnxSIAGA2020DevAzure" />
  </appSettings>

  <connectionStrings>
    <add name="CnxSIAGADev" connectionString="Data Source=SCBD07112007;Initial Catalog=SIAGAP;User ID=JusPenal;Password=NewSystem201"
      providerName="System.Data.SqlClient" />

    <add name="CnxSIAGADevEx"
      connectionString="Data Source=200.79.183.181;Initial Catalog=SIAGAP;User ID=JusPenal;Password=NewSystem201"
      providerName="System.Data.SqlClient" />
    
    <add name="CnxSIAGA2020Dev"
      connectionString="Data Source=SISTEMAS;Initial Catalog=SIAGA_2020;User ID=DesarrolloPenal;Password=acusatorio"
      providerName="System.Data.SqlClient" />

    <add name="CnxSIAGA2020DevAzure" connectionString="Server=tcp:tsjhdesarrollopruebas.database.windows.net,1433;Initial Catalog=SIAGA_2020;Persist Security Info=False;User ID=Programadores2020;Password=SistemasPrueba2020;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
     providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  
</configuration>