<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="connectionName" value="CnxSIAGADev" />
  </appSettings>

  <connectionStrings>
    <add name="CnxSIAGADev" connectionString="Data Source=SCBD07112007;Initial Catalog=SIAGAP;User ID=JusPenal;Password=NewSystem201"
      providerName="System.Data.SqlClient" />

    <add name="CnxSIAGADevEx"
      connectionString="Data Source=200.79.183.181;Initial Catalog=SIAGAP;User ID=JusPenal;Password=NewSystem201"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>